@import '../../../../utils/variables.scss';
.card__header {
    transition: color 0.5s;
    margin: 25px 40px 18px 40px;
    font-size: 1em;
    color: $contentColor;
}

.card_selected .card__border:hover .card__header {
    color: $selectedColor;
}