@import '../../../../utils/variables.scss';
.card__footer {
    height: 30px;
    width: 300px;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}

.card_disable .card__footer {
    color: $disableFooterColor;
}

.card__button {
    cursor: pointer;
    border: none;
    outline: none;
    color: $defaultColor;
    background-color: initial;
}

.card__button span {
    border-bottom: 1px dashed;
}

@media (max-width: 450px) {
    .card__footer {
        width: 150px;
    }
}