@import '../../../utils/variables.scss';
.circle {
    border-radius: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color .5s;
}

.circle__text_large {
    font-size: 2.5em;
}

.circle__text_small {
    font-size: 1.3em;
    line-height: 0.5em;
}

.card_default .circle {
    background-color: $defaultColor;
}

.card_selected .circle {
    background-color: $selectedColor;
}

.card_default .card__border:hover .circle {
    background-color: $defaultHoverColor;
}

.card_disable .circle {
    background-color: $disableBorderColor;
}

@media (max-width: 450px) {
    .circle__text_large {
        font-size: 1.7em;
    }
    .circle__text_small {
        font-size: 1em;
        line-height: 0.5em;
    }
}