@import '../../../utils/variables.scss';
.card {}

.card__header {
    transition: color 0.5s;
}

.card__footer {
    width: fit-content;
    max-width: 300px;
    margin: 0 auto;
}

.card__border {
    position: relative;
    width: 328px;
    height: 488px;
    border-radius: 14px;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
    transition: background-color .5s;
}

.card_default .card__content,
.card_selected .card__content {
    cursor: pointer;
}

.card__content {
    overflow: hidden;
    position: absolute;
    background: white;
    top: 4px;
    left: 4px;
    width: 320px;
    height: 480px;
    border-radius: 11px;
    clip-path: polygon(14.7% 0, 100% 0, 100% 100%, 0 100%, 0 9.7%);
}

.card__elem_right-bottom {
    position: absolute;
    right: 5%;
    bottom: 3%;
    width: 80px;
    height: 80px;
    color: #ffffff;
}

.card__text-container {
    margin: 20px 40px;
}

.card__button {
    cursor: pointer;
    border: none;
    outline: none;
    color: $defaultColor;
    background-color: initial;
}

.card__foto {
    position: absolute;
    right: -20px;
    bottom: -95px;
}

.card_default .card__border {
    background-color: $defaultColor;
}

.card_selected .card__border {
    background-color: $selectedColor;
}

.card_default .card__border:hover {
    background-color: $defaultHoverColor;
}

.card_selected .card__border:hover .card__header {
    color: $selectedColor;
}

.card_disable .card__border {
    background-color: $disableBorderColor;
}

.card_disable .card__border {
    opacity: 0.5
}