.card {}

.card_selected .card__border {
    background-color: #d91667;
}

.card_default .card__border {
    background-color: #1698d9;
}

.card_default .card__border:hover {
    background-color: #2ea8e5;
}

.card_selected .card__border:hover .card__header {
    color: #d91667;
}

.card_selected .circle {
    background-color: #d91667;
}

.card_default .circle {
    background-color: #1698d9;
}

.card_default .card__border:hover .circle {
    background-color: #2ea8e5;
}

.card__header {
    transition: color 0.5s;
}

.card__border {
    /* margin: 14px; */
    position: relative;
    width: 328px;
    height: 488px;
    border-radius: 14px;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
    transition: background-color .5s;
}

.card__content {
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    background: white;
    top: 4px;
    left: 4px;
    width: 320px;
    height: 480px;
    border-radius: 11px;
    clip-path: polygon(14.7% 0, 100% 0, 100% 100%, 0 100%, 0 9.7%);
}

.card__elem_right-bottom {
    position: absolute;
    right: 5%;
    bottom: 3%;
    width: 80px;
    height: 80px;
    color: #ffffff;
}

.card__text-container {
    margin: 20px 40px;
}

.card__button {
    cursor: pointer;
}

.card__foto {
    position: absolute;
    right: -20px;
    bottom: -95px;
}