.card {}

.card__border {
    /* margin: 14px; */
    position: relative;
    width: 328px;
    height: 488px;
    border-radius: 14px;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
    background-color: #1698d9;
}

.card__content {
    cursor: pointer;
    position: absolute;
    background: white;
    top: 4px;
    left: 4px;
    width: 320px;
    height: 480px;
    border-radius: 11px;
    clip-path: polygon(14.7% 0, 100% 0, 100% 100%, 0 100%, 0 9.7%);
}

.card__button {
    cursor: pointer;
}