@import '../../../../utils/variables.scss';
.card__text-container {
    margin: 20px 40px;
}

.card__elem_right-bottom {
    position: absolute;
    right: 5%;
    bottom: 3%;
    width: 80px;
    height: 80px;
    color: #ffffff;
}

.card__foto {
    position: absolute;
    right: -20px;
    bottom: -95px;
}