@import '../../../../utils/variables.scss';
.card__text-container {
    margin: 20px 40px;
}

.card__title {
    font-size: 3em;
    font-weight: bold;
}

.card__subtitle {
    font-size: 1.5em;
    font-weight: bold;
}

.card__text {
    font-size: 0.9em;
    margin-top: 15px;
    color: $contentColor;
}

.card__comment {}

.card__foto {
    position: absolute;
    right: -20px;
    bottom: -95px;
}

.card__elem_right-bottom {
    position: absolute;
    right: 5%;
    bottom: 3%;
    color: #ffffff;
    width: 6vw;
    height: 6vw;
}

@media (max-width: 1500px) {
    .card__elem_right-bottom {
        width: 4.5vw;
        height: 4.5vw;
    }
}

@media (max-width: 1200px) {
    .card__elem_right-bottom {
        width: 6vw;
        height: 6vw;
    }
}

@media (max-width: 770px) {
    .card__elem_right-bottom {
        width: 8vw;
        height: 8vw;
    }
}

@media (max-width: 450px) {
    .card__text-container {
        margin: 20px;
    }
    .card__elem_right-bottom {
        width: 16vw;
        height: 16vw;
    }
    .card__title {
        font-size: 1.5em;
    }
    .card__subtitle {
        font-size: 1em;
    }
    .card__text {
        font-size: 0.7em;
    }
}