.cards {
    width: 80vw;
    margin: 0 auto;
    font-family: 'Trebuchet MS';
}

.cards__header {
    text-align: center;
    color: #ffffff;
}

.cards__content {
    display: flex;
    justify-content: space-between;
}