.cards {
    width: 80vw;
    margin: 0 auto;
    font-family: 'Trebuchet MS';
}

.cards__header {
    text-align: center;
    color: #ffffff;
    font-family: "Exo 2.0", arial;
    font-size: 36px;
}

.cards__content {
    display: flex;
    justify-content: space-between;
}