/*  все стили для устройств с viewport больше 1500 пикселей. */

.cards {
    width: 95vw;
    margin: 0 auto;
    font-family: 'Trebuchet MS';
}

.cards__header {
    text-align: center;
    color: #ffffff;
    font-family: "Exo 2.0", arial;
    font-size: 2.5em;
    letter-spacing: 2px;
}

.cards__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 100px;
    justify-items: center;
}

@media (max-width: 1500px) {
    .cards__content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1200px) {
    .cards__content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 770px) {
    .cards__content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {}